$color-primary: #cf711f;
$color-white: #fff;
$color-black: #000;

@mixin bgColor {
  background-color: $color-primary;
  color: $color-white;
}

@mixin btnProp {
  font-weight: 600;
  font-size: 1.2rem;
  background-color: inherit;
}

.btn {
  display: inline-block;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.call-to-action {
  @include bgColor();

  padding: 1.6rem 3.2rem;
  text-transform: capitalize;
  font-size: 1.7rem;
  border-radius: 1.5rem;
  transition: all 0.5s;

  &:hover {
    @include bgColor();
  }
}

.clear-all {
  @include btnProp();
  color: $color-primary;

  &:hover {
    color: $color-primary;
  }
}

.see-all {
  @include btnProp();
  border: 1px solid $color-primary;
  border-radius: 5rem;
  width: 9.7rem;
  height: 3.5rem;
  transition: all 0.5s;

  &:hover {
    @include bgColor();
  }
}

.search {
  background: $color-black;
  border: 1px solid rgba(237, 237, 237, 0.2);
  border-radius: 1.2rem;
  color: $color-white;
  position: absolute;
  width: 5.1rem;
  height: 4.3rem;
  right: 0px;
  top: 0px;
}

.delete {
  border: 1px solid $color-black;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 6.5rem;
  top: 1rem;
}
