.btn {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  border-radius: 1.5rem;
  background-color: #cf711f;
  color: #fff;
}

.hero__btn {
  padding: 1.6rem 3.2rem;
  text-transform: capitalize;
  
}
