.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.5rem;
  height: 10rem;
  background-color: #fff;
  border-bottom: 0.5px solid rgba(#171415, 0.1);

  .logo {
    height: 2.2rem;
  }

  .cart__icon {
    width: 2.5rem;
  }

  .btn--link {
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
  }

  .icon__avatar {
    background-image: url("../../assets/download.svg");
  }

  .icon {
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    // margin-bottom: 0.4rem;
  }
}

.cart__icon-container {
  border: 1px solid gray;
  border-radius: 100%;
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
