.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.5rem;
  height: 10rem;

  .logo {
    height: 2.2rem;
  }

  .cart__icon {
    width: 4rem;
    transform: rotate(90deg);
    margin-right: 0.5rem;
  }

  .btn--link {
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
  }

  .icon__avatar {
    background-image: url("../../assets/download.svg");
  }

  .icon {
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-bottom: 0.4rem;
  }
}
