.text__box {
  width: 43.6rem;
  border-radius: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fdfdfe;
  height: 4rem;
  outline: none;

  &::placeholder {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: #363636;
    opacity: 0.5;
  }
}

.padding {
  padding-left: 4rem;
}

.padding-remove {
  padding-left: 1.5rem;
}

.input--wrapper {
  position: relative;
}

.Search__icon {
  font-size: 1.3rem;
  position: absolute;
  left: 1.5rem;
  top: 2.2rem;
}

.disabled {
  display: none;
}
