* {
  &::after,
  &::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

html {
  font-size: 62%;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1;
  font-family: "Inter", sans-serif;
  color: #555;
  margin: 0;
  background: #f8f8f8;
}
